/* styling the website using convenmtional ideas from my profile website */
:root {
    --background-color: #e9e4e3;
    --primary-color: #cf4449;
    --secondary-color: #ffffff;
    --tetiary-color: #2b2b2b;
    --fontsize-body: 16px;
    --fontweight-body: 400;
    --linehight: 1.6;
    --font-family: 'Roboto Mono', monospace;
    
}
.button-class {
    background-color: var(--secondary-color);
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    color: var(--tetiary-color);
    border: 2px solid var(--primary-color);
  }

body {
    background-color: var(--background-color);
    background-image:url('../images/charizard-logo.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-family);
   font-weight: var(--fontweight-body);   
   font-size: var(--fontsize-body);
   line-height: var(--linehight);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    border: 0px;
    border-radius: 5px;  
} 

.pokemon-list {
    position: relative;
    bottom: 50px; 
}